doctype html
html(data-ng-app='meanie', data-ng-controller='ApplicationController')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include preloader/style
        title #{config.siteName}
    body
        include preloader/component
        .tooltip-container
            .ng-slide-meanie.system-tooltip(data-ng-repeat="(id, message) in messages", data-ng-animate="") {{ message }}
        .container
            .row
                h1 #{config.siteName}
            .row
                .sidebar.col-md-4.col-sm-12.col-sm-push-8
                    block sidebar
                .content.col-md-8.col-sm-12.col-sm-pull-4
                    block content
                        
        if config.env == 'development'
            link(rel='stylesheet', href='/static/css/app.css')
            script(src='/static/javascript/app.js', async='')
        else
            link(rel='stylesheet', href='/static/css/app.min.css')
            // FIXME: minify on build
            script(src='/static/javascript/app.min.js', async='')