style.
    #preloader_wrapper {
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
    }
    .preloader {
        margin: -15px 0 0 -15px;
        left: 50%;
        top: 50%;
        z-index: 2001;
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #3399cc;
        animation: preloader_center 1.0s infinite linear;
    }
    .preloader:after {
        box-sizing: content-box;
        content: " ";
        display: block;
        position: absolute;
        top: -22px;
        left: -22px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        border: 7px solid #2C3E50;
        border-right-color: transparent;
        border-left-color: transparent;
        animation: preloader_wings 1.0s infinite linear;
    }
    @keyframes preloader_center {
        50% { background: #2C3E50 }
    }
    @keyframes preloader_wings {
        0%  { transform: rotate(0deg) }
        50% { border-top-color: #3399cc; border-bottom-color: #3399cc; transform: rotate(180deg) }
        100% { transform: rotate(360deg) }
    }